<!DOCTYPE html>
<html ng-app="botApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <a id="logo" ui-sref="home">Stackbot Apps</a>
    <div id="menu-btn" ng-click="" ng-controller="testController">
        <span class="bg"></span>
        <span class="lines"></span>
    </div>
    <div ui-view></div>
</div>


<!--<script src="js/angular-1.3.15/angular.min.js"></script>-->
<!--<script src="js/angular-1.3.15/angular-resource.min.js"></script>-->
<!--<script src="js/angular-1.3.15/angular-route.min.js"></script>-->
<!--<script src="js/angular-1.3.15/angular-sanitize.min.js"></script>-->
<!--<script src="js/angular-1.3.15/angular-animate.min.js"></script>-->
<!--<script src="js/angular-ui-router.js"></script>-->
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/vendors/angular/angular.min.js"></script>
<script src="/js/vendors/ui-router/release/angular-ui-router.min.js"></script>
<script src="/js/botApp.js"></script>

<script>
    {% autoescape false %}
    tst = {{ res | json }}
    test = {{ req | json }}
    {% endautoescape %}

    var string = 'hello';
    console.log(string);
    // Load the socket.io library above, then connect to the server.
    // Because the socket.io server is being run on the same server as your
    // Express instance, you can connect() without any arguments.
    var socket = io.connect();
    // When 'new_tweet' events are fired, do something with the packaged tweet
    socket.on('slack_data', function (data) {
        console.log(string);
        console.log(data);
    });
</script>
</body>
</html>